*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(180deg, rgb(202, 214, 206), rgb(191, 55, 233));
}

/*Counter*/

.counterContainer{
    position: absolute;
    top:25px;
    left:25px;
}

#scorebox{
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

#ppcHolder, #ppsHolder{
    margin-top: 10px;
    display: inline-flex;
    border: 1px solid black;
    padding: .6rem 2rem;
    background-image: linear-gradient(180deg, rgb(202, 214, 206), rgb(191, 55, 233));

    color: white;
    border-radius: 5px;
    font-weight: bold;
}


#ppc, #pps {
    margin: 0;
}

#ppsHolder{
    background-image: linear-gradient(180deg, rgb(202, 214, 206), rgb(191, 55, 233));

}

/*Carousel*/

.carousel{
    box-shadow: 2px 2px 5px rgba(0,0 , 0, 0.5);
    height: 50vh;
    width: 200px;
    overflow: hidden;
}

.image-container{
    display: flex;
    /*flex-direction: column;*/
    transition: transform 0.5s ease-in-out;
    transform: translatex(0px);
    /* 645px*/ 
   
}

img{
    /*object-fit: cover;*/
    height:350px;
    margin: 1rem 1rem;
}

/*Upgrades*/

#btn{
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    padding: .9rem 1.5rem; 
    font-size: 14px;
    cursor:not-allowed;
    outline:none;  
}

#btn.inactive{
    display: none;
}

#iphoneInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 35vw;
    min-height: 4.5vh;
    max-height: 5.5vh;
    
}

#btn.active{
    color: white;
    cursor: pointer;
    background-image: linear-gradient(180deg, rgb(202, 214, 206), rgb(6, 88, 3));
}

.upgradesLeft{
    position: absolute;
    top: 50px;
    right: 25px;
    overflow: hidden;
    
}

.upgradesRight{
    position: absolute;
    bottom: 35px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.upgradesLeft div{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    height: 30px;
    width: 85px;
    border: 1px solid black;
    margin: .5rem;
    padding: .3rem;
    border-radius: 5px;
    overflow: hidden;
}

.upgradesRight div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 75vw;
    border: 1px solid black;
    margin: .2rem;
    padding: .3rem;
    border-radius: 5px;
    overflow: hidden;
}


.upgradesLeft div{
    margin-left: 0;
}

#upgrade1.dark, #upgrade2.dark, #upgrade3.dark, #upgrade4.dark, #upgrade5.dark, #upgrade6.dark {
    background-color: rgba(37, 37, 37, 0.5);
    color: black;
}

.upgradeReq{
    position: absolute;
    left: 250px;
    display: none;
}



#mobileDisappear{
    display: none;
}
